<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hacker News</title>
  <link rel="shortcut icon" type="image/x-icon" href="y18.gif" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
  <link href="./css/main.css" rel="stylesheet" />
</head>

<body ng-app="app1" class="uk-background-muted" ng-init="{loadingcomments: 1}">

  <nav id="navb" class="uk-navbar-container uk-margin ;cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" uk-navbar>
    <div class="uk-navbar-center">

      <a class="uk-navbar-item uk-logo" href="#"><img src="y18.gif">Hacker News</a>
    </div>


  </nav>
  <div class="uk-container">
    <div ng-controller="storiesController">

      <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin uk-animation-slide-bottom-medium" ng-repeat="m in stories">
        <a href="{{m.url}}" target="_blank"><h3>{{m.title}}</h3></a> <span >
          {{m.score}}</span> Points &nbsp; &nbsp;<span uk-icon="icon: user; ratio: 1"></span> <span >{{m.by}}</span> &nbsp; &nbsp;
          <span uk-icon="icon: clock; ratio: 1"></span>
          <span class="uk-text-medium">{{ m.time | timeAgo}}</span> &nbsp; &nbsp;

          <button class="uk-button uk-button-text" uk-toggle="target: #comment-box" ng-click="showComments()"><span uk-icon="icon: comments; ratio: 1"></span> {{m.descendants}}</button>
      </div>
      <div uk-spinner id="spinner" class="uk-text-center uk-flex uk-flex-center"></div>
      <div class="uk-text-center uk-margin">
        <button class="uk-button uk-button-default" ng-click="loadMore()">Load More</button>
      </div>
      <div id="comment-box" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-width-2-3@s uk-width-1-1">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <h2 class="uk-text-center ">Comments</h2>
          <div ng-repeat="m in comments">
            <div ng-bind-html="m.text | unsafe"></div>
            <h6 class="uk-text-right uk-margin-remove">- {{m.by}}</h6>
            <hr>
          </div>
          <div uk-spinner ng-if="loadingcomments" id="spinner" class="uk-text-center uk-flex uk-flex-center"></div>
        </div>

      </div>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/index.js"></script>
  <script>
    // UIkit.navbar('#navb');
  </script>

</body>

</html>
