<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

  </head>
  <body>
    <nav  id="navb" class="uk-navbar-container uk-margin ;cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" uk-dark uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">Logo</a>


            <div class="uk-navbar-item">
                <div>Some <a href="#">Link</a></div>
            </div>



        </div>
    </nav>
  </body>
</html>
